body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f7fc;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
}

html, body{
    height: auto;
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #003973;
  border-radius: 10px;
  border: 3px solid #fff;
}
::-webkit-scrollbar-button {
  display: none;
}

.window-controls {
  display: flex;
  gap: 0.5rem;
}

.control {
  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: 0.75rem;
  user-select: none;
}

.control:hover {
  transform: scale(1.1);
}
.close:hover {
  background: #e74c3c;
}
.maximize:hover {
  background: #2ecc71;
}
.minimize:hover {
  background: #f1c40f;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  max-height: 300px;
}

.main-content {
  flex: 1;
  height: 100%;
  background: #ffffff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  /*border: 2px solid #003973;*/
}

.main-content h1 {
  text-align: center;
  color: #003973;
  margin: 0;
}

h4 {
  text-align: center;
}

.form-group {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
  color: #003973;
  font-weight: 600;
}

input,
select {
  padding: 0.6rem 0.75rem;
  border: 1px solid #003973;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input::placeholder {
  color: #999;
  font-style: italic;
}

input:focus,
select:focus {
  border-color: #0058b1;
  box-shadow: 0 0 0 2px rgba(0, 89, 177, 0.2);
  outline: none;
}

.center-button{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.reset-button, .reassign-button {
  padding: 0.8rem 1.6rem;
  background-color: #003973;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.reset-button:hover, .reassign-button:hover{
  background-color: #0058b1;
}

.assign-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.assign-buttons-container button,.reassign-button{
  width: 200px;
  padding: 0.6rem;
  background-color: #003973;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.assign-buttons-container button:hover, .reassign-button:hover {
  background-color: #0058b1;
  transform: translateY(-2px);
}

.image-side {
  max-width: 500px;
}

#result-message {
  margin-top: 1.2rem;
  text-align: center;
  color: #003973;
}

.scrollable {
  overflow-x: scroll;
  min-width: 400px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
}

#device-table-container {
  max-height: 300px;
  overflow-y: auto;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.td-button{
  padding: 0px;
  display: flex;
  justify-content: end;
}

.td-button button{
  width: 50px;
  aspect-ratio: 1/1;
  background-color: #0058b1;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.td-button button:hover{
  background-color: #0f76dd;
}
th {
  background-color: #004e92;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

tr{
  height: auto;
}
tr:hover {
  background-color: #f0f8ff;
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }
}


.tabs-container{
  display: flex;
  justify-content: center;
}
.tabs.segmented {
  display: inline-flex;
  justify-content: center;
  border: 2px solid #003973;
  border-radius: 12px;
  overflow: hidden;
  margin: 1.5rem auto;
}

.tabs.segmented .tab {
  border: none;
  background-color: white;
  color: #003973;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s, color 0.3s;
}

.tabs.segmented .tab:not(:last-child) {
  border-right: 1px solid #003973;
}

.tabs.segmented .tab.active {
  background-color: #003973;
  color: white;
}

#reasignar {
  display: flex;
  flex-direction: column;
}

#reasignar button{
  display: block;

}