* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
    height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f7fc;
  color: #333;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #003973;
  border-radius: 10px;
  border: 3px solid #fff;
}
::-webkit-scrollbar-button {
  display: none;
}
    
.main-content {
  flex: 1;
  height: 100%;
  background: #ffffff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  /*border: 2px solid #003973;*/
}

    h1 {
      text-align: center;
      color: #003973;
      margin-bottom: 30px;
      font-weight: bold;
    }

    .tab-container {
      text-align: center;
      margin-bottom: 20px;
    }

    .tabs.segmented {
      display: inline-flex;
      justify-content: center;
      border: 2px solid #003973;
      border-radius: 12px;
      overflow: hidden;
    }

    .tabs.segmented .tab {
      min-width: 200px;
      padding: 1rem 2rem;
      border: none;
      background-color: white;
      color: #003973;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
    }

    .tabs.segmented .tab:not(:last-child) {
      border-right: 1px solid #003973;
    }

    .tabs.segmented .tab.active {
      background-color: #003973;
      color: white;
    }

    .busqueda-exportar {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
    }

    .busqueda-container {
      display: flex;
      align-items: center;
      background: white;
      border-radius: 6px;
      flex-grow: 1;
    }

    .busqueda-container i {
      color: #555;
      font-size: 1.2rem;
      position: fixed;
      left: 48px;
    }

    .busqueda-container input {
      padding: 0.6rem 0.75rem;
      border: 1px solid #003973;
      border-radius: 8px;
      font-size: 1rem;
      font-family: 'Segoe UI', sans-serif;
      transition: border-color 0.3s, box-shadow 0.3s;
      height: 100%;
      width: 100%;
      padding-left: 48px;
    }

    .busqueda-container input:focus {
      border-color: #0058b1;
      box-shadow: 0 0 0 2px rgba(0, 89, 177, 0.2);
      outline: none;
    }

    .busqueda-container input::placeholder {
      color: #777;
    }

    .excel-btn {
      background-color: #007e33;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 8px;
      white-space: nowrap;
      user-select: none;
      height: 48px;
      transition: background-color 0.3s;
    }

    .excel-btn:hover {
      background-color: #005d24;
    }

    .scrollable {
      position: relative;
      max-height: 400px;
      overflow-y: auto;
      border: 1px solid #ccc;
      background: white;
      border-radius: 10px;
        scrollbar-gutter: stable both-edges;
      padding-right: 10px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      user-select: none;
         border-radius: 10px;
    }

    thead {
      background-color: #003973;
      color: white;
      cursor: default;
      
    }

    thead th{
      position: sticky;
      top: 0;
      background-color: #003973;
      z-index: 1;
   
    }

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ccc;
      position: relative;
    }

    th.sortable {
      cursor: pointer;
      user-select: none;
      padding-right: 25px;
    }

  
    th.sortable .sort-icons {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    th.sortable .sort-icons i {
      font-size: 10px;
      color: #ccc;
      line-height: 10px;
      user-select: none;
    }

    th.sortable.asc .sort-icons i.fa-caret-up {
      color: white;
    }
    th.sortable.desc .sort-icons i.fa-caret-down {
      color: white;
    }

    .tab-content {
      display: none;
    }

    .tab-content.active {
      display: block;
    }

    .rojo {
      background-color: #ffd6d6;
      color: rgb(244, 84, 84);
      font-weight: bold;
    }

    .unassign-btn, .reassign-btn {
     padding: 5px 10px;
    margin: 0 3px;
    border-radius: 4px;
    font-size: 0.9em;
    border: 2px solid darkblue;
    min-width: 5rem;
    }

    .unassign-btn:hover, .reassign-btn:hover {
         filter:brightness(1.2);
      border-color: white;
    }

    .reassign-btn {
  background-color: #005da4;
      color: white;
    }

    .unassign-btn {
 background-color: #db3125;
      color: white;
    }

    /* Modal */
    #modalReasignar {
      display: none;
      position: fixed;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      justify-content: center;
      align-items: center;
      z-index: 999;
    }


    .modal-content {
      background: white;
      padding: 20px 25px;
      border-radius: 10px;
      width: 350px;
      box-sizing: border-box;
      text-align: justify;
      font-size: 14px;
      color: #333;
      user-select: none;
    }

    .modal-content h3 {
      margin-top: 0;
      text-align: center;
      color: #003973;
      font-weight: bold;
    }

    .modal-content label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .modal-content input {
       padding: 0.6rem 0.75rem;
    border: 1px solid #003973;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Segoe UI', sans-serif;
    transition: border-color 0.3s, box-shadow 0.3s;
    height: 100%;
    width: 100%;
    }

    .modal-content button {
      padding: 8px 16px;
      margin: 20px 10px 0 0;
      cursor: pointer;
      border: none;
      border-radius: 6px;
      font-size: 1rem;
      user-select: none;
      transition: background-color 0.3s;
    }

    .modal-content button:first-of-type {
      background-color: #007e33;
      color: white;
    }
    .modal-content button:first-of-type:hover {
      background-color: #005d24;
    }

    .modal-content button:last-of-type {
      background-color: #ccc;
    }
    .modal-content button:last-of-type:hover {
      background-color: #aaa;
    }

    .alert-export-container{
      display: flex;
      gap: 16px;
      width: 100%;
      margin-bottom: 16px;
      height: 48px;
    }
    .alert-box {
  background-color: #ffcf68;
  border: 2px solid #ec9a2d;
  color: #2a1604;
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  line-height: 12px;
}