* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
    height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f7fc;
  color: #333;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #003973;
  border-radius: 10px;
  border: 3px solid #fff;
}
::-webkit-scrollbar-button {
  display: none;
}
header {
  background: linear-gradient(90deg, #004e92, #000428);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.header-left h2 {
  margin: 0;
  font-size: 28px;
}

.header-right button {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  margin-left: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.header-right button:hover {
  transform: scale(1.2);
}

.contenedor-principal {
  height: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #003973;
  margin-bottom: 30px;
  font-size: 32px;
}

.busqueda-exportar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 25px;
}

.busqueda-container {
  display: flex;
  align-items: center;
  background-color: #ffe5e5;
  border: 2px solid #cc0000;
  border-radius: 8px;
  padding: 10px 12px;
  flex: 1;
  min-width: 250px;
}

.busqueda-container i {
  color: #cc0000;
  margin-right: 10px;
}

.busqueda-container input {
  border: none;
  outline: none;
  background: transparent;
  font-weight: bold;
  color: #660000;
  width: 100%;
}

.busqueda-container input::placeholder {
  color: #990000;
}

button {
  background-color: #cc0000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.excel-btn{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
}

button:hover {
  background-color: #990000;
}

.scrollable {
  overflow-x: scroll;
  min-width: 400px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #004e92;
  color: white;
}

th,
td {
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f0f8ff;
}

.edit-btn {
  background-color: #004e92;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-btn:hover {
  background-color: #0264ba;
}

.alert-box {
  background-color: #ffcccc;
  border: 2px solid #cc0000;
  color: #800000;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 8px;
}

.alert-title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
}

.alert-box ul {
  padding-left: 20px;
  margin: 0;
}

.alert-box li {
  margin-bottom: 6px;
}

.hidden {
  display: none;
}

.carta-btn {
  padding: 8px 16px;
  background-color: #004e92;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.carta-btn:hover {
  background-color: #0264ba;
}

