*{
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", sans-serif;
  margin: 20px;
  background: #fff;
}

main {
  padding: 25px;
}
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #003973;
  border-radius: 10px;
  border: 3px solid #fff;
}
::-webkit-scrollbar-button {
  display: none;
}

.row-alert {
  background-color: #ffcccc !important;
}

.row-asignado {
  background-color: #fff3cd !important;
}

.centered-button {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
button#btnAddDevice {
  font-size: 20px;
  padding: 12px 24px;
  cursor: pointer;
  background-color: #004183;
  border: none;
  border-radius: 6px;
  color: white;
  transition: background-color 0.3s ease;
}
button#btnAddDevice:hover {
  background-color: #0058b1;
}

.filters {
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="date"]{
   flex-grow: 1;
  padding: 0.6rem 0.75rem;
  border: 1px solid #003973;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
  margin-bottom: 8px;
}

.filters input,
.filters select {
  padding: 8px 12px;
  border: 1px solid #003973;
  border-radius: 8px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 200px;
}

.scrollable {
  overflow-x: scroll;
  min-width: 400px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
}

th,
td {
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #004e92;
  color: white;
}

tr:hover {
  background-color: #f0f8ff;
  cursor: pointer;
}

tr.row-alert {
  background-color: #f8d7da;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.action-buttons > button {
  max-width: 80px;
  background-color: #004e92;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.action-buttons > button:hover {
  cursor: pointer;
  background-color: #0264ba;
}

.btn-edit,
.btn-delete {
  cursor: pointer;
  padding: 5px 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  margin-right: 6px;
  transition: background-color 0.3s ease;
  color: white;
}
.btn-edit {
  background-color: #28a745;
}
.btn-edit:hover {
  background-color: #1e7e34;
}
.btn-delete {
  background-color: #dc3545;
}
.btn-delete:hover {
  background-color: #a71d2a;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  padding: 2rem ;
  width: 400px;
  z-index: 1001;
  max-height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 8px;
}
.modal h2 {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.modal label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #555;
}

.modal select {
   flex-grow: 1;
  padding: 0.6rem 0.75rem;
  border: 1px solid #003973;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
  margin-bottom: 8px;
}


.modal button {
  width: 50%;
  height: 40px;
  background-color: #004e92;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
#btnSave {
  background-color: #007bff;
  margin-right: 4%;
}
#btnSave:hover {
  background-color: #0056b3;
}
#btnCancel {
  background-color: #6c757d;
}
#btnCancel:hover {
  background-color: #565e64;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
h1 {
  text-align: center;
  color: #003973;
}
