*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;  
}

body {
  background-color: #fff;
  height: 100%;
}

html {
  height: 100%;
}

main{
   flex: 1;
  height: 100%;
  background: #ffffff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

main h1{
  text-align: center;
  color: #003973;
  margin-bottom: 2rem;
  font-size: 2rem;
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #003973;
  border-radius: 10px;
  border: 3px solid #fff;
}
::-webkit-scrollbar-button {
  display: none;
}
    


    .scrollable {
      position: relative;
      max-height: 400px;
      overflow-y: auto;
      border: 1px solid #ccc;
      background: white;
      border-radius: 10px;
        scrollbar-gutter: stable;
    }


    table {
      width: 100%;
      border-collapse: collapse;
      user-select: none;
      border-radius: 10px;
      table-layout: fixed;
    }

    thead {
      background-color: #003973;
      color: white;
      cursor: default;
      
    }

    thead th{
      position: sticky;
      top: 0;
      background-color: #003973;
      z-index: 1;
      text-align: center;
   
    }

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ccc;
      position: relative;
    }

    th.sortable {
      cursor: pointer;
      user-select: none;
      padding-right: 25px;
    }

  
    th.sortable .sort-icons {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    th.sortable .sort-icons i {
      font-size: 10px;
      color: #ccc;
      line-height: 10px;
      user-select: none;
    }

    th.sortable.asc .sort-icons i.fa-caret-up {
      color: white;
    }
    th.sortable.desc .sort-icons i.fa-caret-down {
      color: white;
    }