* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
    height: 100%;
}
body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7fc;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #003973;
  border-radius: 10px;
  border: 3px solid #fff;
}
::-webkit-scrollbar-button {
  display: none;
}

header {
  background: linear-gradient(90deg, #004e92, #000428);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.header-left h2 {
  margin: 0;
  font-size: 28px;
  letter-spacing: 1px;
}

.header-right button {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  margin-left: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.header-right button:hover {
  transform: scale(1.2);
}

.container {
  height: 100%;
  max-width: 1200px;
  /*margin: 30px auto;*/
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #003973;
}

.search-filter {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

select {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #cc0000;
  background-color: #ffe5e5;
  color: #660000;
  border-radius: 6px;
  flex: 1;
  font-weight: bold;
}

input[type="text"]::placeholder {
  color: #990000;
}

.alert-box {
  display: none;
  background-color: #ffcccc;
  border: 2px solid #cc0000;
  color: #800000;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 8px;
}

.alert-title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
}

.alert-box ul {
  padding-left: 20px;
  margin: 0;
}

.alert-box li {
  margin-bottom: 6px;
}

button.excel-btn {
  background-color: #cc0000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 15px;
  transition: background 0.3s ease;
  position: relative;
  left: 40%;
  right: 100px;
  display: flex;
  gap: 4px;
  flex-wrap: nowrap;
}

button.excel-btn:hover {
  background-color: #990000;
}

.scrollable {
  overflow-x: scroll;
  min-width: 400px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

th,
td {
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #004e92;
  color: white;
}

tr:hover {
  background-color: #f0f8ff;
}

td .action-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}



.edit-btn {
  width: 100%;
  height: 100%;
  background-color: #004e92;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.edit-btn:hover {
  width: 100%;
  height: 100%;
  background-color: #0264ba;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.hidden {
  display: none;
}
