body {
  margin: 0;
  padding: 0;
  background-color: #f4f7fc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #003973;
}

::-webkit-scrollbar { width: 14px; }
::-webkit-scrollbar-track { background: #ffffff; }
::-webkit-scrollbar-thumb { background-color: #003973; border-radius: 10px; border: 3px solid #fff; }
::-webkit-scrollbar-button { display: none; }

.dashboard-wrapper {
  /*padding: 3rem 2rem;*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  }

  .welcome-card {
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  gap: 2rem;
  max-width: 1100px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  flex-wrap: wrap;
}

  .welcome-text {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.welcome-text h1 {
 text-align: center;
  color: #003973;
}

.welcome-text p {
  margin: 0.7rem 0;
  font-size: 1.1rem;
  line-height: 1.6;
}

.eaton-logo {
  width: 160px;
  margin-bottom: 1.5rem;
}

.welcome-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-image img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


@media (max-width: 960px) {
  .welcome-card {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .welcome-text h1 {
    font-size: 2rem;
  }

  .eaton-logo {
    margin: 0 auto 1.2rem;
  }
}
