* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

:root{
  --header-height: 50px;
  --sidebar-width: 270px;
}

 .header {
    /*background: linear-gradient(90deg, #004e92, #000428);*/
    background-color: #003973;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 30px;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);*/
    position: fixed;
    width: 100%;
      -webkit-app-region: drag;
  
  }

    .title {
    font-size: 20px;
    font-weight: bold;
  }
  .window-controls i {
    cursor: pointer;
    font-size: 18px;
    margin-left: 15px;
    transition: transform 0.3s ease, color 0.3s;
  }
  .window-controls i:hover {
    color: #ccc;
    transform: scale(1.1);
  }

  .window-controls img{
    height: calc(var(--header-height) /1.8);
    aspect-ratio: 1/1;
    margin-left: 16px;
      -webkit-app-region: no-drag;
  }

  .window-controls img:hover{
    filter: brightness(0.8);
    transform: scale(1.1);
  }
.login-content {
  background-color: #0078D4;
  display: flex;
  justify-content: end;
  align-items: center;
  height: calc(100vh - var(--header-height));
  position: fixed;
  width: 100%;
  top: var(--header-height);
}

.logo{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.logo h1{
color: #fff;
  position: relative;
  top: 20px;
  font-size: 24px;
}
.logo img{
  width: 40%;
  position: relative;
}
.login-container {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  text-align: left;
  font-size: 14px;
  color: #333;
}

#username {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.password-wrapper {
  display: flex;
  position: relative;
  height: 100%;
  margin-bottom: 15px;
}

.password-wrapper input {
  width: 100%;
  padding-right: 60px;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#toggle-password {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #0078D4;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#toggle-password img {
  width: auto;
  height: 80%;
}

button[type='submit'] {
  padding: 10px;
  background-color: #0078D4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005b8d;
}

#error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Responsividad */
@media (max-width: 600px) {
  .login-container {
    padding: 30px;
    width: 90%;
  }

  h2 {
    font-size: 20px;
  }

  input, button {
    font-size: 14px;
  }
}
