/*body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
*/
h1 {
  margin-bottom: 2rem;
}

.search-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.search-filter input,
.search-filter select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #0078D4;
  color: white;
}

.search-filter input {
  background-color: #eee;
  border: none;
  min-width: 200px;
  color: #222;
}

.alert-box {
  background-color: rgba(218, 63, 63, 0.933);
  border: 1px solid #ffeeba;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.alert-box ul{
  list-style-type: none;
}
.alert-title{
   background-color: rgb(212, 68, 68);
   padding: 10px;
   color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #0078D4;
  color: white;
}
.below-threshold {
  background-color: #eea6ac;
}

td.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.view-btn {
  background-color: #0078D4;
  color: white;
}

.edit-btn {
  background-color: #2d4065;
  color: black;
}

.actions button {
  margin: 5px;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #0078D4;
    color: white;
      flex-grow: 1;
}

