

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #004e92, #000428);
  color: white;
  padding: 10px 20px;
}

.header-left {
  font-size: 20px;
  font-weight: bold;
}

.header-right i {
  margin-left: 10px;
  cursor: pointer;
}

.header-right i:hover {
  color: #d0e7ff;
}

h1 {
  text-align: center;
  color: #004e92;
  margin-top: 20px;
}

.contenedor-principal {
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
}

.busqueda-exportar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.busqueda-exportar input {
  padding: 10px;
  border: 2px solid #004e92;
  border-radius: 8px;
  width: 250px;
  font-size: 16px;
}

.busqueda-exportar button {
  background-color: #004e92;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.busqueda-exportar button:hover {
  background-color: #002a5c;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

th,
td {
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #004e92;
  color: white;
}

tr:hover {
  background-color: #f0f8ff;
}
