body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f6f8;
}

.contenedor-principal {
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #003973;
}

.busqueda-exportar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.excel-btn {
    background-color: #007e33;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    user-select: none;
    height: 48px;
    transition: background-color 0.3s;
}

#busqueda {
  flex: 1;
  min-width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

button:hover {
  transform: scale(1.03);
}


.boton-verificar {
  background-color:#004e92;;
  color: white;
  margin-right: 5px;
}

.boton-verificar:hover {
  background-color:#004e92;;
}

.boton-eliminar {
  background-color: #dc3545;
  color: white;
}

.boton-eliminar:hover {
  background-color: #a71d2a;
}

#btnOrdenarNombre {
  background-color: #6c757d;
  color: white;
}

#btnOrdenarNombre:hover {
  background-color: #495057;
  }

  /* Tabla */
.scrollable {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: white; 
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  border: 1px solid white;
  text-align: center;
  font-size: 14px;
}

thead {
  background-color: #003973;
  color: white;
  }

td .boton-accion {
  display: inline-block;
  margin: 0 2px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 600px;
  position: relative;
}

.oculto {
  display: none;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .busqueda-exportar {
    flex-direction: column;
    align-items: stretch;
  }

  button {
    width: 100%;
    justify-content: center;
  }

  .boton-accion {
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 6px;
}

 td .boton-accion {
  display: inline-block;
  margin: 2px;
  white-space: nowrap;
}

td {
  text-align: center;
  vertical-align: middle;
}

  }