

    body {
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to bottom, #f0f4ff, #ffffff);
      background: white;
      color: #333;
      overflow-x: hidden;
    }

    html, body{
    height: 100%;
}
    
::-webkit-scrollbar { width: 14px; }
::-webkit-scrollbar-track { background: #ffffff; border-radius: 12px; }
::-webkit-scrollbar-thumb { background-color: #003973; border-radius: 10px; border: 3px solid #fff; }
::-webkit-scrollbar-button { display: none; }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: linear-gradient(to right, #004e92, #000428);
      color: white;
      padding: 10px 20px;
    }
    h1 {
     text-align: center;
    color: #003973;
    }

    .contenedor-principal {
      height: 100%;
      max-width: 1200px;
      margin: 0;
      padding: 20px;
      background-color: white;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .busqueda-exportar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      flex-wrap: wrap;
      }

    .busqueda-exportar input {
      padding: 10px;
      border: 2px solid #004e92;
      border-radius: 8px;
      width: 250px;
      font-size: 16px;
     }

  button.excel-btn {
  background-color: #cc0000;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
  display: flex;
  gap: 4px;
  flex-wrap: nowrap;
}

button.excel-btn:hover {
  background-color: #990000;
}
    .scrollable{
  overflow-x: scroll;
  min-width: 400px;
}
    table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 12px;
     }

    th,
    td {
      padding: 14px;
      text-align: center;
      border-bottom: 1px solid #ccc;
    }

    th {
      background-color: #004e92;
      color: white;
    }

    tr:hover {
      background-color: #f0f8ff;
      cursor: pointer;
    }

    .estado-proceso {
      background-color: red;
      color: white;
      font-weight: bold;
    }

    .estado-completado {
  color: green;
  font-weight: bold;
}



    
.actions-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions-container button {
  width: 100%;
  height: 100%;
  background-color: #004e92;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.actions-container button:hover {
  width: 100%;
  height: 100%;
  background-color: #0264ba;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

    .modal {
      display: none;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .modal-content {
      position: fixed;
      max-height: 80%;
      background-color: #fff;
      margin: 10% auto;
      padding: 20px 30px;
      border-radius: 12px;
      width: 450px;
      text-align: center;
      overflow-y: scroll;
    /*  box-shadow: 0 0 20px rgba(0, 78, 146, 0.5);*/
    }

    .modal-content h1 {
       text-align: center;
    color: #003973;
    }

    .modal-content label {
      display: block;
      margin: 8px 0;
      font-weight: 600;
      color: #004e92;
      text-align: left;
    }

    .modal-content input[type="checkbox"] {
      margin-right: 8px;
      transform: scale(1.2);
      cursor: pointer;
    }

    .modal-content button {
      background-color: #004e92;
      color: white;
      border: none;
      padding: 10px 25px;
      font-size: 16px;
      border-radius: 8px;
      cursor: pointer;
      margin: 10px 5px 0 5px;
      transition: background-color 0.3s;
    }

    .modal-content button:hover {
      background-color: #003366;
    }