.main-content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  max-width: 600px;
  width: 70%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  margin-bottom: 10px;
}

.form-input input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #0078D4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #005b8d;
}

#formMessage {
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: bold;
  }

  .success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }

  .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }

  