body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f7f7f7;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

h1 {
   text-align: center;
  color: #003973;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1rem;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
  padding: 0.5rem;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.agregar-btn {
  background-color: #007bff;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.agregar-btn:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background:  #003973;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 0.8rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #003973;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #0056b3;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.3rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.actions button {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.actions .secundario {
  background-color: #ccc;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #c82333;
}
